*{
    margin: 0;
    padding: 0;
    font: normal normal normal 12px/14px Arial;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    
    border: 2px solid #E9E9E9;

}
.sub-main{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: "sub-main_2 sub-main_2 sub-main_2 sub-main_2 sub-main_2 sub-main_2 empty";


    

    width: 200%;
}
.sub-main_2{
    grid-area: sub-main_2;
    margin: 0;
    padding: 10px;
    /*width: 175%;*/

    margin-bottom: 3.5%;
}
.empty{
    grid-area: empty;
    margin: 5px;
    margin-bottom: 20.8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
