.notif-container{
    margin: 5px;

    margin-top: 19px;
    margin-bottom: 29px;

    background: #EB1B2321;
    border-radius: 5px;

    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 17px;

    display: flex;

    
}
.container-link{
    text-decoration: none;
}
.notif-container_text{
    margin-right: auto;
}
.notif-container_icon{
    margin-right: 10px;
}